@import '../global/variables';
.header{
  width: 100%;
  text-align: center;
  height: $height-step;
  display: flex;
  justify-content: center;
  background: rgba(0,0,0,.5);
  a{
    display: inline-block;
    line-height: $height-step;
    color: #FFF;
    text-decoration: none;
    width: 20%;
    &:first-child{
      text-align: right;
    }
    &:last-child{
      text-align: left;
    }
  }
  h1{
    width: 20%;
    line-height: $height-step;
    background: transparent;
    display: inline-block;
    margin: 0 1em;
  }
}
