@import '../global/variables';
@import '../global/mixins';

.main-section{
  @include dimension-calc(height, 100%, #{$header-height} - #{$footer-height}, 80%);
  width: 100%;
  text-align: center;
  position: relative;
  background: $content-background-colour;

  .nav-button{
    &.projects{
      right: 0;
    }
    &.profile{
      left: 0;
    }
  }
}

.home-text-container{
  z-index: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
