@import '../global/variables';
@import '../global/mixins';

.nav-button{
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #FFF;
  font-size: 1.5em;
  padding: 1em;
  cursor: pointer;
}
