@import '../global/reset';
@import '../global/variables';
@import '../global/mixins';
.footer li{
    height: 100%;
    display: block;
    align-self: center;
    flex: 1;

    &:not(.primary){
        @media (max-width: 50rem){
            display: none;
        }
    }
    a{
        display: block;
        height: 100%;
    }
}