$height-step: 60px;

$header-height: $height-step;
$footer-height: #{$height-step * 1.5};

$image-path: '/images/';

$content-background-colour: rgba(0,0,0,.4);
$cellspace :  40;
$primary-colour: #545A78;
$primary-colour-complement: #787254;
